/* .greetingContainer {
  padding: 16px;
  margin-bottom: 16px;
} */

.greetingText {
  font-family: "Comfortaa", sans-serif;
  font-size: 32px;
  font-weight: 700;
  /* color: #111827; */
  margin: 0;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
