:root {
  --color-primary: #fff167;
  --color-eye: #363536;
  --color-mouth-1: #fec373;
  --color-mouth-2: #fcb954;
  --color-leg: #fcb954;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: #fff;
}

.art {
  animation: _fly 4s linear infinite;
  position: absolute;
}
.art__circle {
  position: absolute;
  width: 20vmax;
  height: 20vmax;
  border-radius: 50%;
  background-image: radial-gradient(at center, #5a5c6a 0%, #202d3a 81.3%);
  animation: circle-ans 4s linear infinite;
}
.art__head {
  --wh: 16vmin;
  width: var(--wh);
  height: var(--wh);
  border-radius: 50%;
  background-color: var(--color-primary);
  position: relative;
}
.art__head::after,
.art__head::before {
  content: "";
  position: absolute;
  width: 8vmin;
  height: 7vmin;
  border-radius: 100vmin 2vmin 100vmin 2vmin;
  bottom: 11%;
  background-color: var(--color-primary);
}
.art__head::after {
  left: -1vmin;
  rotate: -60deg;
  animation: left-ans 4s linear infinite;
}
.art__head::before {
  right: -1vmin;
  rotate: -40deg;
  animation: right-ans 4s linear infinite;
}
.art__eye {
  --w: 2.5vmin;
  --h: 2.5vmin;
  width: var(--w);
  height: var(--h);
  background-color: var(--color-eye);
  border-radius: 50%;
  animation: eyes-blink 4s infinite steps(2);
}
.art__eye__wrapper {
  display: flex;
  gap: 3vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 1;
  animation: left-and-right-rotate 4s linear infinite;
}
.art__mouth_helper {
  position: absolute;
  left: 50%;
  bottom: 32%;
  z-index: 1;
  animation: left-and-right-rotate 4s linear infinite;
}
.art__mouth {
  margin-left: -50%;
  width: 2vmin;
  height: 2vmin;
  background-image: linear-gradient(
    -45deg,
    var(--color-mouth-2) 50%,
    var(--color-mouth-1) 50%
  );
  transform: scaleY(0.6) rotate(45deg);
}
.art__leg {
  position: absolute;
  left: 35%;
  bottom: -1vmin;
  width: 0.8vmin;
  height: 3vmin;
  background-color: var(--color-leg);
  box-shadow: 4vmin 0 0 var(--color-leg);
  z-index: -1;
  animation: leg-ans 4s linear infinite;
}

@keyframes eyes-blink {
  0%,
  49% {
    transform: scaleY(0);
  }
  34%,
  39% {
    border-radius: 50%/20%;
    transform: scaleY(0.5);
  }
  10%,
  45%,
  50%,
  100% {
    border-radius: 50%;
    transform: scaleY(1);
  }
}
@keyframes left-and-right-rotate {
  0% {
    transform: translateX(0);
  }
  8% {
    transform: translateX(-1.5vmin) translateY(-0.5vmin);
  }
  10% {
    transform: translateX(-1.5vmin) translateY(0);
  }
  18% {
    transform: translateX(1.5vmin) translateY(-0.5vmin);
  }
  20% {
    transform: translateX(1.5vmin) translateY(0);
  }
  25% {
    transform: translateX(0);
  }
  28%,
  32% {
    transform: translateY(2vmin);
  }
  30% {
    transform: translateY(-2vmin);
  }
  34%,
  38% {
    transform: translateY(2vmin) translateX(-1vmin);
  }
  36%,
  40% {
    transform: translateY(2vmin) translateX(1vmin);
  }
  42%,
  100% {
    transform: translateY(1.5vmin);
  }
}
@keyframes _fly {
  0%,
  35%,
  85% {
    transform: translateY(0rem);
  }
  40%,
  60%,
  80% {
    transform: translateY(-6rem) rotateX(-15deg);
  }
  50%,
  50%,
  70% {
    transform: translateY(-5rem) rotateX(-15deg);
  }
  80% {
    transform: translateY(2rem);
  }
}
@keyframes circle-ans {
  0%,
  35% {
    transform: scale(0);
  }
  40%,
  60%,
  80% {
    transform: scale(10);
    opacity: 0;
  }
  50%,
  50%,
  70%,
  100% {
    transform: scale(10);
    opacity: 0;
  }
}
@keyframes left-ans {
  0%,
  39%,
  65%,
  100% {
    rotate: -60deg;
  }
  40%,
  44%,
  48%,
  52%,
  56%,
  60% {
    rotate: 45deg;
  }
  42%,
  46%,
  50%,
  54%,
  58% {
    rotate: 60deg;
  }
}
@keyframes right-ans {
  0%,
  39%,
  65%,
  100% {
    rotate: -40deg;
  }
  40%,
  44%,
  48%,
  52%,
  56%,
  60% {
    rotate: -155deg;
  }
  42%,
  46%,
  50%,
  54%,
  58% {
    rotate: -140deg;
  }
}
@keyframes leg-ans {
  0%,
  39%,
  82%,
  100% {
    transform: translateY(0);
  }
  40%,
  80% {
    transform: translateY(-2vmin);
  }
}
